@model Karibu.Models.Demande

@{
    ViewData["Title"] = "Détails | Demande stage";
    ViewData["PageTitle"] = "Détails";
}

<div>
    <h4>Demande stage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postnom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postnom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseDomicile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseDomicile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePieceIdentite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePieceIdentite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPieceIdentite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPieceIdentite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUniversite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUniversite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutUniverssite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutUniverssite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseUniversite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseUniversite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filliere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filliere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SujetTravail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujetTravail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectifPoursuivi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectifPoursuivi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProbableDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProbableDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProbableFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProbableFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonneContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonneContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonctionContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonctionContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LettreStage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LettreStage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCommuneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCommuneNavigation.IdCommune)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDomaineSujetNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDomaineSujetNavigation.IdCategorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFilliereNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFilliereNavigation.IdFiliere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNationaliteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNationaliteNavigation.IdPays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUniversiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUniversiteNavigation.IdUniversite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDemande">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
