@model Karibu.Models.Organe

@{
    ViewData["Title"] = "Détails | Organe";
    ViewData["PageTitle"] = ViewData["Title"];
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomOrgane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomOrgane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrganeParentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrganeParentNavigation.IdOrgane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeOrganeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeOrganeNavigation.IdTypeOrgane)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrgane">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
