@model IEnumerable<Karibu.Models.TypeOrgane>

@{
    ViewData["Title"] = "Type Organe";
    ViewData["PageTitle"] = ViewData["Title"];
}

<p>
    <a asp-action="Create">Ajouter un type d'organe'</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTypeOrgane">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdTypeOrgane">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTypeOrgane">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
