@model IEnumerable<Karibu.Models.Filiere>

@{
    ViewData["Title"] = "Filières";
    ViewData["PageTitle"] = ViewData["Title"];
}

<p>
    <a asp-action="Create">Ajouter une filière</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFiliere">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdFiliere">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFiliere">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
