@model Karibu.Models.Contributeur

@{
    ViewData["Title"] = "Détails | Contributeur";
    ViewData["PageTitle"] = "Contributeur";
}

<h1>Détails</h1>

<div>
    <h4>Contributeur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surnom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surnom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomComplet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomComplet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Universite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Universite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
