@model IEnumerable<Karibu.Models.Contributeur>

@{
    ViewData["Title"] = "Contributeurs";
    ViewData["PageTitle"] = "Contributeurs";
}

<p>
    <a asp-action="Create">Ajouter un contributeur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surnom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surnom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
