@model IEnumerable<Karibu.Models.StatutUniversite>

@{
    ViewData["Title"] = "Statuts Université";
    ViewData["PageTitle"] = ViewData["Title"];
}

<p>
    <a asp-action="Create">Ajouter un statut</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStatutUniversite">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdStatutUniversite">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStatutUniversite">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
