@model Karibu.Models.Universite

@{
    ViewData["Title"] = "Supprimer | Université";
    ViewData["PageTitle"] = ViewData["Title"];
}

<h3>Etes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <h4>Universite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatutUniversiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatutUniversiteNavigation.IdStatutUniversite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeInstitutNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeInstitutNavigation.IdTypeInstitut)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUniversite" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
