@model Karibu.Models.Universite

@{
    ViewData["Title"] = "Détails | Université";
    ViewData["PageTitle"] = ViewData["Title"];
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRecteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatutUniversiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatutUniversiteNavigation.IdStatutUniversite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeInstitutNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeInstitutNavigation.IdTypeInstitut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUniversite">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
