@model IEnumerable<Karibu.Models.Categorie>

@{
    ViewData["Title"] = "Sujet | Domaine";
    ViewData["PageTitle"] = "Domaine du sujet";
}

<p>
    <a asp-action="Create">Ajouter un domaine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Domaine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Domaine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategorie">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategorie">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategorie">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
